#right-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    width: 881px;
    height: 696px;
    left: 700px;
    top: 212px;
    background:#F1F4F8;
    border-radius: 20px;
  }
  
  .right-box-category{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  width: 885px;
  height: 200px;
  background: #FFFFFF;
  border-radius: 20px;
  }
  
  .right-box-category-input {
    width:100%;
  }

  .right-box-titles {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 18px;
    font-feature-settings: 'liga' off;
  }
  
  .right-box-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 885px;
    height: 287px;
    background: #FFFFFF;
    border-radius: 20px;
    top: 0px;
  
  }

  .right-box-description-text{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 16px;
    gap: 8px;
    height: 197px;
    background: #F1F4F8;
    border: 1px solid #CECECE;
    border-radius: 16px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .added-list{
    display: flex;
    flex-direction: row;
    gap:20px;
  }

  .added-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 16px;
  gap: 6px;
  background: rgba(102, 95, 239, 0.2);
  border: 1px solid #793EF5;
  border-radius: 32px;
  height: 13px;

  }

  .added-item p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #793EF5;
  }

.right-box-location{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  position: absolute;
  width: 885px;
  height: 138px;
  background: #FFFFFF;
  border-radius: 20px;
  top: 1px;
}

.right-box-location-search {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 8px;
width: 885px;
height: 48px;
background: #F1F4F8;
border: 1px solid #CECECE;
border-radius: 16px;
flex: none;
order: 0;
flex-grow: 0;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.3px;
color: rgba(47, 48, 49, 0.54);
}

.right-box-benefits{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  position: absolute;
  width: 885px;
  height: 287px;
  background: #FFFFFF;
  border-radius: 20px;
  top: 1px;
}

.right-box-benefits-text{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 16px;
  gap: 8px;
  height: 197px;
  background: #F1F4F8;
  border: 1px solid #CECECE;
  border-radius: 16px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.right-box-intro-video{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  position: absolute;
  width: 885px;
  height: 222px;
  background: #FFFFFF;
  border-radius: 20px;
  top: 1px;
}

.right-box-intro-file-upload{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 20px;
  gap: 8px;
  border: 1px dashed #B2B6BC;
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.4px;
  font-feature-settings: 'liga' off;
  
  color: #778188;
}

.right-box-intro-added{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  gap: 24px;
  background: #EDEAFF;
  border-radius: 12px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  font-feature-settings: 'liga' off;
  color: #793EF5;
}

.right-box-mentor-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  position: absolute;
  width: 885px;
  height: 314px;
  background: #FFFFFF;
  border-radius: 20px;
  top: 1px;
}

.mentor-details-avatar{
  width: 80px;
  height: 80px;
  background: #E2E6EB;
  border-radius: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 1;
}

.mentor-details-inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  
  width: 741px;
  height: 48px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  z-index: 2;
}

.mentor-details-input {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 12px 12px 16px;
gap: 10px;
width: 58%;
background: #FFFFFF;
border: 1px solid #CECECE;
border-radius: 12px;
flex: none;
order: 0;
flex-grow: 1;
color: #1E1E1E;
opacity: 0.5;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.3px;
font-feature-settings: 'liga' off;
  
}

.mentor-details-input-linkedin{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 12px 12px 16px;
gap: 10px;
background: #FFFFFF;
border: 1px solid #CECECE;
border-radius: 12px;
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
z-index: 3;
color: #1E1E1E;
opacity: 0.5;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.3px;
font-feature-settings: 'liga' off;
}


.right-box-recommended-roles{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  position: absolute;
  width: 885px;
  height: 200px;
  background: #FFFFFF;
  border-radius: 20px;
  top: 1px;
}


.right-box-web-links{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  position: absolute;
  width: 885px;
  height: 192px;
  background: #FFFFFF;
  border-radius: 20px;
  top: 1px;

}

.web-link-added-tab {
  background: #FFFFFF;
  border: 1px dashed #793EF5;
  border-radius: 12px;
  padding: 8px 16px;
  gap: 6px;
  color: #793EF5;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.none {
  opacity: 0;
}

.input-search-box{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 8px;
width: 100%;
height: 48px;
background: #F1F4F8;
border: 1px solid #CECECE;
border-radius: 16px;
flex: none;
order: 0;
flex-grow: 0;
}

